@import url(https://fonts.googleapis.com/css?family=Raleway);

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #fafafa;
	font-family: 'Raleway', sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 50px 50px;
	width: 400px;
	border-top: 4px solid #b22024;
	background: #bdc3c7;
}

.text {
	clear: both;
}

h1,
h2 {
	text-align: center;
	margin: 0;
}

h2 {
	margin: 0 0 20px;
	font-size: 16px;
}

p span {
	font-weight: bold;
}


img {
	max-width: 100%;
}

@media (max-width: 800px) {

	.container {
		padding: 10px;
	}

	img {
		display: none;
	}
}